# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/gin0/gin0
/nt/nt
/unt/userver
/unt/uclient
/upnp/upnp
/ntn/ntn
/qc/qc
/qs/qs
/qs/*.pem
/qs/*.key
/rpcserver/rpcserver
/rpcclient/rpcclient
/mymock/mymock
/msql/msql
/tmp/tmp